/* Box-sizing для всей страницы */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Убираем отступы у body */
body {
  margin: 0;
  font-family: Arial, sans-serif; /* Выберите шрифт по умолчанию */
  line-height: 1.5;
}

/* Устраняем различия у списков */
ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Убираем стандартное подчеркивание у ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Убираем стандартные стили кнопок */
button {
  border: none;
  background: none;
  cursor: pointer;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 16px;
  transform: translateY(-10%);
}

